.user{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    align-items: center;
    box-shadow: 10px 10px 10px;
}
.uslist{
    display: flex;
    flex-wrap: wrap;
}
.user button{
    padding: 10px;
    border-radius: 10px;
    color: blue;
    /* border: none; */
}